@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
    font-weight: bold;
    background: #6666 !important; 
}

@keyframes matrix {
    0% {top: -40%;}
    100% {top: 0%;}
}

.matrix-animation {
    position: fixed;
    animation-name: matrix;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

@keyframes fadeIn {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.fadeIn-animation {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
